body{
    margin:0;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: auto;
}
#heading{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color: lavender;
}

.w {
    background-image: url("w.png");
}
.wp{
    opacity: 50%;
}
.a {
    background-image: url("a.png");
}
.wa{
    opacity: 50%;
}
.s {
    background-image: url("s.png");
}
.ws{
    opacity: 50%;
}
.d {
    background-image: url("d.png");
}
.wd{
    opacity: 50%;
}
.j {
    background-image: url("j.png");
}
.wj{
    opacity: 50%;
}
.k {
    background-image: url("k.png");
}
.wk{
    opacity: 50%;
}
.l {
    background-image: url("l.png");
}
.wl{
    opacity: 50%;
}
.all {
    margin: 10% 10%;
}
.button{
    outline: none;
    width: 150px;
    height: 150px;
    border: 10px solid dimgrey;
    font-size: 5rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    display: inline-block;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 20px;
    color: blueviolet;
    background-color: white;
    margin: 31px;
}